<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Home</title>
  </head>
  <body class="flex items-center justify-center h-screen bg-gray-100">

    <div class="text-center">
      <h1 class="text-3xl font-bold text-gray-800 mb-6">
        Welcome Home
      </h1>

      <a href="/users/67"
         class="px-6 py-3 bg-purple-600 text-white rounded-xl text-lg font-semibold hover:bg-purple-700 transition">
        Go to User 67  (six -> seven )
      </a>
    </div>

  </body>
</html>
